h1{
    color: rgb(0, 136, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center; 
}
.nav{
    list-style: none;
    margin: auto;
    border-style:groove;
    width: 50vw;
    padding-left: 0;
    
    text-align: center;
}
.nav>li{
    border-style: outset;
    display: inline-block;
}
.nav>li>a{
    text-decoration: none;
    color: rgb(0, 4, 255);
}
p{
    text-decoration:wavy
}